@import "../variables.scss";

.navbar {
  background-color: $navbar-bg;

  ul {
    border-bottom: solid 2px $navbar-sc;
    padding: 1em;
    margin: 0;

    display: flex;
    flex-direction: row;

    li {
      list-style: none;

      padding-right: 1em;

      font-size: x-large;

      a {
        color: $navbar-fg;
        text-decoration: none;
        text-transform: uppercase;
      }

      a.activeItem {
        color: $navbar-active;
      }

      a:hover {
        cursor: pointer;
        color: $navbar-active;
      }
    }
  }
}
